<h4 class="text-3xl text-white mx-auto my-8 text-center">Sign up</h4>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="flex justify-center">
    <div class="form-control w-full max-w-sm border border-slate-700 p-4 rounded-xl space-y-12 shadow-lg shadow-indigo-700/40">
      <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "bob@example.com", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                label: "Email" %>
      <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "6 characters minimum", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                label: "Password" %>
      <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", placeholder: "Enter password again", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                label: "Password Confirmation" %>
      <%= f.input :avatar_url,
                as: :file,
                input_html: { class: "file-input file-input-bordered file-input-primary w-full max-w-xs"},
                label: "Upload avatar" %>
      <div class="form-actions flex justify-center">
        <%= f.button :submit, "Sign up", class: "btn btn-primary my-4 shadow-lg shadow-indigo-700/40" %>
      </div>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
