<div id="<%= dom_id comment %>">
  <div class="flex space-y-4 items-center">
    <%= link_to person_path(comment.author.id), class: "" do %>
      <div class="my-4">
        <% if comment&.author&.user&.avatar_url&.present? %>
          <figure><img src="<%= comment.author.user.avatar_url.url %>" class="w-12 h-12 md:w-20 md:h-20 object-cover rounded-full" /></figure>
        <% elsif comment&.author&.image_url&.present? %>
          <figure><img src="<%= comment.author.image_url %>" class="w-12 h-12 md:w-20 md:h-20 object-cover rounded-full" /></figure>
        <% else %>
          <div class="w-12 h-12 md:w-20 md:h-20 bg-primary shadow-md border-indigo-500 rounded-full flex items-center justify-center text-lg md:text-2xl font-bold">
            <%= person.first_name.slice(0,1).capitalize %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="flex flex-col justify-start space-x-2 ml-4 flex-1">
      <div class="flex justify-between">
        <p class="text-lg font-bold pl-2">
          <%= comment.author.first_name %>
        </p>
        <% if current_user.person.id == comment.author_id %>
          <div class="flex space-x-4">
            <%= link_to image_tag("edit.svg", class: "max-h-[20px]") , edit_comment_path(comment) %>
            <%= button_to comment, method: :delete do %>
              <%= image_tag("trash-can.svg", class: "max-h-[20px]") %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="text-lg">
        <%= comment.body %>
      </p>
    </div>
  </div>
</div>
