<div class="flex flex-col justify-center items-center">
  <%= simple_form_for(comment) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.hidden_field :photo_id %>
      <%= f.input :body,
          label: "Add Comment",
          :as => :text, 
          input_html: { class: "file-input file-input-bordered file-input-primary w-full max-w-xs" } %>
      <%= f.hidden_field :author_id %>
    </div>
    <div class="form-actions flex justify-center mt-12 mb-8">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
