<li>
  <div class="flex items-center justify-between my-4 mx-1 min-h-[60px]">
    <div class="w-[50px] bg-slate-600 shadow-xl border-indigo-500 rounded-full">
      <figure><img src="https://robohash.org/<%= person.id %>" class="rounded-full" /></figure>
    </div>
    <div>
      <h2 class="w-full min-w-[240px] text-center px-4"><%= person.first_name %> <%= person.last_name %> <%= person.suffix %></h2>
      <div class="text-center"><%= person.dob %></div>
    </div>
    <div class="mx-auto">
      <%= link_to person_path(person.id), class: "" do %>
        <%= image_tag("chevron.svg", class: "chevron-image max-h-[25px]", data: { light: asset_path('chevron-black.svg'), dark: asset_path('chevron.svg') }) %>
      <% end %>
    </div>
  </div>
  <% unless index == @bdays.length - 1 %>
    <hr class="flex my-6 mx-auto w-4/5 bg-gray-500">
  <% end %>
</li>
