<%# This view is individual children of main node in main family tree view %>
<li>
  <%= link_to family_path(person.id), class: "" do %>
    <div class="flex items-center justify-between md:justify-center space-x-2 my-4 mx-1">
      <div class="w-14 md:w-24 bg-slate-600 shadow-xl border-indigo-500 rounded-full">
        <% if person&.user&.avatar_url&.present? %>
          <figure><img src="<%= person.user.avatar_url.url %>" class="w-14 h-14 md:w-24 md:h-24 object-cover rounded-full" /></figure>
        <% elsif person&.image_url&.present? %>
          <figure><img src="<%= person.image_url %>" class="w-14 h-14 md:w-24 md:h-24 object-cover rounded-full" /></figure>
        <% else %>
          <div class="w-14 h-14 md:w-24 md:h-24 bg-primary shadow-md border-indigo-500 rounded-full flex items-center justify-center text-lg md:text-2xl font-bold">
            <%= person.first_name.slice(0,1).capitalize %>
          </div>
        <% end %>
      </div>
      <h2 class="w-full max-w-[220px] md:max-w-[340px] md:text-xl"><%= person.first_name %> <%= person.middle_name %> <%= person.last_name %> <%= person.suffix %></h2>
      <div class="items-end">
        <%= image_tag("chevron.svg", class: "chevron-image max-h-[25px]", data: { light: asset_path('chevron-black.svg'), dark: asset_path('chevron.svg') }) %>
      </div>
    </div>
  <% end %>
</li>
