<div class="hidden md:w-3/4 md:flex md:justify-center md:items-center md:mx-auto">
  <div class="flex justify-center m-4">
    <div class="card w-2/5 min-w-[350px] dark:bg-slate-700 shadow-xl">
      <figure><img src="https://robohash.org/<%= person.id %>" /></figure>
      <div class="card-body flex flex-col items-center border-t-2">
        <h2 class="card-title text-white text-center"><%= person.first_name %> <%= person.last_name %> <%= person.suffix %></h2>
        <h4 class="text-xl">Birthday</h4>
        <p class="text-white"><%= person.dob %></p>
        <h4 class="text-xl">Birthplace</h4>
        <p class="text-white"><%= person.place_of_birth %></p>
        <% if person.address.present? %>
          <h4 class="text-xl">Address</h4>
          <p class="text-white"><%= person.address %></p>
        <% end %>
        <% if person.phone_number.present? %>
          <h4 class="text-xl">Phone Number</h4>
          <p class="text-white"><%= person.phone_number %></p>
        <% end %>
        <hr class="w-full">
        <% if !person.parents.first.nil? %>
          <h2 class="text-2xl">Parents:</h2>
          <% person.parents.each do |parent| %>
            <a href="<%= parent.id %>">
              <p class="text-white"> <%= parent.first_name %> <%= parent.last_name %> <%= parent.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.siblings.first.nil? %>
          <h2 class="text-2xl">Siblings:</h2>
          <% person.siblings.each do |sibling| %>
            <a href="<%= sibling.id %>">
              <p class="text-white"> <%= sibling.first_name %> <%= sibling.last_name %> <%= sibling.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.spouses1.first.nil? || !person.spouses2.first.nil? %>
          <h2 class="text-2xl">Spouse:</h2>
          <% person.spouses1.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-white"><%= spouse.first_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
          <% person.spouses2.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-white"><%= spouse.first_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.children.first.nil? %>
          <h2 class="text-2xl">Children:</h2>
          <% person.children.each do |child| %>
            <a href="<%= child.id %>">
              <p class="text-white"><%= child.first_name %> <%= child.last_name %> <%= child.suffix %></p>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col ml-8">
      <% if person.tagged_photos.any? %>
      <h2 class="text-2xl text-center mb-8">Tagged Photos:</h2>
      <div class="flex flex-wrap justify-start mb-16">
        <% person.tagged_photos.order(created_at: :desc).each do |photo| %>
          <div class="min-w-32 min-h-32 overflow-hidden border border-black">
            <%= link_to photo_path(photo) do %>
              <img src="<%= photo.image_url %>" alt="Photo" class="object-cover w-32 h-32">
            <% end %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%# Mobile View %>
<div class="block md:hidden mb-4">
  <div class="flex items-center justify-center space-x-2 my-12 mx-1">
    <div class="w-[120px] bg-slate-600 shadow-xl border-indigo-500 rounded-full">
      <figure><img src="https://robohash.org/<%= person.id %>" class="rounded-full" /></figure>
    </div>
  </div>
  <h2 class="w-full text-center text-2xl"><%= person.first_name %> <%= person.last_name %> <%= person.suffix %></h2>
  <div tabindex="0" class="collapse collapse-arrow border w-4/5 border-base-300 bg-base-200 mx-auto mt-12">
    <div class="collapse-title text-xl text-center font-medium">
      Info
    </div>
    <div class="collapse-content">
      <div class="card-body flex flex-col items-center border-t-2">
        <h4 class="text-xl">Birthday</h4>
        <p class=""><%= person.dob %></p>
        <% if person.place_of_birth.present? %>
          <h4 class="text-xl">Birthplace</h4>
          <p class=""><%= person.place_of_birth %></p>
        <% end %>
        <% if person.address.present? %>
          <h4 class="text-xl">Address</h4>
          <p class=" text-center max-w-[180px]"><%= person.address %></p>
        <% end %>
        <% if person.phone_number.present? %>
          <h4 class="text-xl">Phone Number</h4>
          <p class=""><%= person.phone_number %></p>
        <% end %>
        <hr class="w-full my-4">
        <% if !person.parents.first.nil? %>
          <h2 class="text-2xl">Parents:</h2>
          <% person.parents.each do |parent| %>
            <a href="<%= parent.id %>">
              <p class=""> <%= parent.first_name %> <%= parent.last_name %> <%= parent.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.siblings.first.nil? %>
          <h2 class="text-2xl">Siblings:</h2>
          <% person.siblings.each do |sibling| %>
            <a href="<%= sibling.id %>">
              <p class=""> <%= sibling.first_name %> <%= sibling.last_name %> <%= sibling.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.spouses1.first.nil? || !person.spouses2.first.nil? %>
          <h2 class="text-2xl">Spouse:</h2>
          <% person.spouses1.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class=""><%= spouse.first_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
          <% person.spouses2.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class=""><%= spouse.first_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.children.first.nil? %>
          <h2 class="text-2xl">Children:</h2>
          <% person.children.each do |child| %>
            <a href="<%= child.id %>">
              <p class=""><%= child.first_name %> <%= child.last_name %> <%= child.suffix %></p>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if person.tagged_photos.any? %>
    <h2 class="text-2xl text-center my-8">Tagged Photos:</h2>
    <div class="flex flex-wrap justify-start max-w-[390px] mb-16 mx-auto">
      <% person.tagged_photos.order(created_at: :desc).each do |photo| %>
        <div class="min-w-32 min-h-32 overflow-hidden border border-black">
          <%= link_to photo_path(photo) do %>
            <img src="<%= photo.image_url %>" alt="Photo" class="object-cover w-32 h-32">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
