<%# This is the view for individual people, mobile view is at the bottom i.e. their profile page %>
<%# Desktop View %>
<div class="hidden md:w-3/4 md:flex md:justify-center md:items-center md:mx-auto">
  <div class="flex justify-center m-4">
    <div class="card w-[400px] dark:bg-slate-700 shadow-xl">
      <% if person&.user&.avatar_url&.present? %>
        <figure><img src="<%= person.user.avatar_url %>" /></figure>
      <% elsif person&.image_url&.present? %>
        <figure><img src="<%= person.image_url %>" /></figure>
      <% else %>
        <div class="h-[300px] bg-primary shadow-md border-indigo-500 flex rounded-t-xl items-center justify-center text-7xl font-bold">
          <%= person.first_name.slice(0,1).capitalize %>
        </div>
      <% end %>
      <div class="card-body flex flex-col items-center border-t-2">
        <h2 class="card-title text-white text-center"><%= person.first_name %> <%= person.middle_name %> <%= person.last_name %> <%= person.suffix %></h2>
        <h4 class="text-xl">Birthdate</h4>
        <p class="text-white"><%= person.dob %></p>
        <% if person.place_of_birth.present? %>
          <h4 class="text-xl">Birthplace</h4>
          <p class="text-white"><%= person.place_of_birth %></p>
        <% end %>
        <% if person.address.present? %>
          <h4 class="text-xl">Address</h4>
          <p class="text-white text-center max-w-[180px]"><%= person.address %></p>
        <% end %>
        <% if person.phone_number.present? %>
          <h4 class="text-xl">Phone Number</h4>
          <p class="text-white text-center"><%= person.phone_number %></p>
          <a href="sms:+<%= person.phone_number %>?&body=Hi">
            <button class="btn btn-primary">Text <%= person.first_name %></button>
          </a>
        <% end %>
        <hr class="w-full">
        <% if !person.parents.first.nil? %>
          <h2 class="text-2xl">Parents:</h2>
          <% person.parents.each do |parent| %>
            <a href="<%= parent.id %>">
              <p class="text-white text-center"> <%= parent.first_name %> <%= parent.middle_name %> <%= parent.last_name %> <%= parent.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.siblings.first.nil? %>
          <h2 class="text-2xl">Siblings:</h2>
          <% person.siblings.each do |sibling| %>
            <a href="<%= sibling.id %>">
              <p class="text-white text-center"> <%= sibling.first_name %> <%= sibling.middle_name %> <%= sibling.last_name %> <%= sibling.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.spouses1.first.nil? || !person.spouses2.first.nil? %>
          <h2 class="text-2xl">Spouse:</h2>
          <% person.spouses1.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-white text-center"><%= spouse.first_name %> <%= spouse.middle_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
          <% person.spouses2.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-white text-center"><%= spouse.first_name %> <%= spouse.middle_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.children.first.nil? %>
          <h2 class="text-2xl">Children:</h2>
          <% person.children.each do |child| %>
            <a href="<%= child.id %>">
              <p class="text-white text-center"><%= child.first_name %> <%= child.middle_name %> <%= child.last_name %> <%= child.suffix %></p>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col ml-8">
      <% if person.tagged_photos.any? %>
        <h2 class="text-2xl text-center mb-8">Tagged Photos:</h2>
        <div class="flex flex-wrap justify-start mb-16">
          <% person.tagged_photos.order(created_at: :desc).each do |photo| %>
            <div class="min-w-32 min-h-32 overflow-hidden border border-black">
              <%= link_to photo_path(photo) do %>
                <img src="<%= photo.image_url %>" alt="Photo" class="object-cover w-32 h-32">
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# Mobile View %>
<div class="block md:hidden mb-4">
  <div class="flex items-center justify-center space-x-2 my-12 mx-1">
    <div class="w-32 h-32 bg-slate-600 shadow-xl border-indigo-500 rounded-full">
      <% if person&.user&.avatar_url&.present? %>
        <figure><img src="<%= person.user.avatar_url %>" class="w-32 h-32 object-cover rounded-full" /></figure>
      <% elsif person&.image_url&.present? %>
        <figure><img src="<%= person.image_url%>" class="w-32 h-32 object-cover rounded-full" /></figure>
      <% else %>
        <div class="w-32 h-32 bg-primary shadow-md border-indigo-500 rounded-full flex items-center justify-center text-5xl font-bold">
          <%= person.first_name.slice(0,1).capitalize %>
        </div>
      <% end %>
    </div>
  </div>
  <h2 class="w-full text-center text-2xl"><%= person.first_name %> <%= person.middle_name %> <%= person.last_name %> <%= person.suffix %></h2>
  <div tabindex="0" class="collapse collapse-arrow border w-4/5 border-base-300 bg-base-200 mx-auto mt-12">
    <div class="collapse-title text-xl text-center font-medium">
      Info
    </div>
    <div class="collapse-content">
      <div class="card-body flex flex-col items-center border-t-2">
        <h4 class="text-xl">Birthdate</h4>
        <p class=""><%= person.dob %></p>
        <% if person.place_of_birth.present? %>
          <h4 class="text-xl">Birthplace</h4>
          <p class=""><%= person.place_of_birth %></p>
        <% end %>
        <% if person.address.present? %>
          <h4 class="text-xl">Address</h4>
          <p class=" text-center max-w-[180px]"><%= person.address %></p>
        <% end %>
        <% if person.phone_number.present? %>
          <h4 class="text-xl">Phone Number</h4>
          <p class=""><%= person.phone_number %></p>
          <a href="sms:+1<%= person.phone_number %>?&body=Hi <%= person.first_name %>!">
            <button class="btn btn-primary">Text <%= person.first_name %></button>
          </a>
        <% end %>
        <hr class="w-full my-4">
        <% if !person.parents.first.nil? %>
          <h2 class="text-2xl">Parents:</h2>
          <% person.parents.each do |parent| %>
            <a href="<%= parent.id %>">
              <p class="text-center"> <%= parent.first_name %> <%= parent.middle_name %> <%= parent.last_name %> <%= parent.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.siblings.first.nil? %>
          <h2 class="text-2xl">Siblings:</h2>
          <% person.siblings.each do |sibling| %>
            <a href="<%= sibling.id %>">
              <p class="text-center"> <%= sibling.first_name %> <%= sibling.middle_name %> <%= sibling.last_name %> <%= sibling.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.spouses1.first.nil? || !person.spouses2.first.nil? %>
          <h2 class="text-2xl">Spouse:</h2>
          <% person.spouses1.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-center"><%= spouse.first_name %> <%= spouse.middle_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
          <% person.spouses2.each do |spouse| %>
            <a href="<%= spouse.id %>">
              <p class="text-center"><%= spouse.first_name %> <%= spouse.middle_name %> <%= spouse.last_name %> <%= spouse.suffix %></p>
            </a>
          <% end %>
        <% end %>
        <% if !person.children.first.nil? %>
          <h2 class="text-2xl">Children:</h2>
          <% person.children.each do |child| %>
            <a href="<%= child.id %>">
              <p class="text-center"><%= child.first_name %> <%= child.middle_name %> <%= child.last_name %> <%= child.suffix %></p>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if person.recipes.present? %>
    <div class="text-center my-8">
      <%= link_to "My Recipes", my_recipes_path(person.id), class: "btn btn-primary" %>
    </div>
  <% end %>
  <% if person.tagged_photos.any? %>
    <h2 class="text-2xl text-center my-8">Tagged Photos:</h2>
    <div class="flex flex-wrap justify-start max-w-[390px] mb-16 mx-auto">
      <% person.tagged_photos.order(created_at: :desc).each do |photo| %>
        <div class="min-w-32 min-h-32 overflow-hidden border border-black">
          <%= link_to photo_path(photo) do %>
            <img src="<%= photo.image_url %>" alt="Photo" class="object-cover w-32 h-32">
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
