<div class="flex flex-wrap justify-center items-center w-3/4 mx-auto">
  <% @people.each do |person| %>
    <div class="border-indigo-500 m-4">
      <div class="card w-96 bg-slate-600 shadow-xl border-indigo-500">
        <figure><img src="https://robohash.org/<%= person.id %>" /></figure>
        <div class="card-body border-t-2">
          <h2 class="card-title text-white"><%= person.first_name %> <%= person.last_name %> <%= person.suffix %>
          </h2>
          <div class="card-actions justify-end">
            <a href="<%= person_path(person.id) %>"><button class="btn btn-primary">Details</button></a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
