<%# This is the main family tree view when someone clicks the main link %>
<div class="mt-12 md:flex md:flex-col">
  <h1 class="text-center font-bold text-2xl md:text-4xl mb-4">Familia Castañeda</h1>
  <div class="px-4 sm:px-8 max-w-5xl m-auto">
    <ul class="border border-slate-700 p-2 rounded overflow-hidden shadow-md mb-16 md:space-y-4">
      <%= render "list", person: @main_node %>
      <% if !@main_node.spouses1.first.nil? || !@main_node.spouses2.first.nil? %>
        <div class="flex justify-center items-center">
          <%= image_tag ("marriage.svg"), class: "max-h-[40px] md:max-h-[60px]" %>
        </div>
        <% @main_node.spouses1.each do |spouse| %>
          <%= render "list", person: spouse %>
        <% end %>
        <% @main_node.spouses2.each do |spouse| %>
          <%= render "list", person: spouse %>
        <% end %>
      <% end %>
      <li class="text-2xl text-center">Children:</li>
      <% if !@main_node.children.first.nil? %>
        <% @children.each do |child| %>
          <%= render "family_list", person: child %>
        <% end %>
      <% end %>
    </ul>
  </div>
