<div class="hidden md:block">
  <div class="flex flex-col justify-center items-center w-full">
    <ul class="flex flex-wrap justify-center w-full md:space-x-8">
      <%= render "card", person: @main_node %>
      <% if !@main_node.spouses1.first.nil? || !@main_node.spouses2.first.nil? %>
        <% @main_node.spouses1.each do |spouse| %>
          <%= render "card", person: spouse %>
        <% end %>
        <% @main_node.spouses2.each do |spouse| %>
          <%= render "card", person: spouse %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <h2 class="text-2xl text-center">Children:</h2>
  <div class="flex flex-wrap">
    <ul class="flex flex-wrap justify-center w-full md:space-x-8">
      <% if !@main_node.children.first.nil? %>
        <% @main_node.children.each do |child| %>
          <%= render "card", person: child %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<!-- family_tree.html.erb -->
<div class="block md:hidden">
  <div class="my-16">
    <div class="px-4 sm:px-8 max-w-5xl m-auto">
      <ul class="border border-slate-700 rounded overflow-hidden shadow-md">
        <%= render "tree_person", person: @main_node %>
      </ul>
    </div>
  </div>
</div>
