<div id="<%= dom_id recipe %>">
  <p>
    <strong>Recipe name:</strong>
    <%= recipe.recipe_name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= recipe.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= recipe.directions %>
  </p>

</div>
