<div class="hero min-h-screen bg-base-50">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag ("castaneda.webp"), class: "max-w-sm rounded-lg shadow-2xl mt-8 md:mt-0" %>
    <div class="flex flex-col items-center justify-center m-4 w-full lg:w-1/2 lg:ml-8">
      <h1 class="text-2xl md:text-4xl font-bold mb-4">Castañeda Family Tree</h1>
      <p class="text-center text-xl">Castañeda is a Spanish surname. The name's meaning is habitational, from any of various places in Santander, Asturias, and Salamanca, derived from castañeda, a collective of castaña "chestnut". The name is believed to be created by the fact that the bourgeois House of Castañeda was situated in a valley of chestnuts, thus meaning "Castle of the Chestnuts."</p>
      <br>
      <p class="text-center text-xl">The surname can be found primarily in Spain, Portugal and the Americas after the Spanish conquest of North and South America.</p>
      <a class="mt-8" href="<%= tree_path %>"><button class="btn btn-primary">Show Family Tree</button></a>
    </div>
  </div>
</div>
<div class="min-h-screen bg-base-200 flex flex-col justify-center items-center pt-4">
  <div class="flex flex-col items-center w-3/4 md:w-3/5">
    <h1 class="text-3xl md:text-5xl font-bold">Family History</h1>
    <p class="py-6 text-center text-xl">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
  </div>
  <div class="carousel rounded-box mt-4 w-4/5 md:w-2/3 snap-x">
    <div class="carousel-item snap-center">
      <%= image_tag ("castaneda.webp"), class: "max-w-fit rounded-lg shadow-2xl" %>
    </div>
    <div class="carousel-item snap-center">
      <%= image_tag ("castaneda.webp"), class: "max-w-fit rounded-lg shadow-2xl" %>
    </div>
    <div class="carousel-item snap-center">
      <%= image_tag ("castaneda.webp"), class: "max-w-sm rounded-lg shadow-2xl" %>
    </div>
    <div class="carousel-item snap-center">
      <%= image_tag ("castaneda.webp"), class: "max-w-sm rounded-lg shadow-2xl" %>
    </div>
    <div class="carousel-item snap-center">
      <%= image_tag ("castaneda.webp"), class: "max-w-sm rounded-lg shadow-2xl" %>
    </div>
  </div>
</div>
</div>
