<div id="<%= dom_id photo %>" class="flex flex-col items-center justify-center m-4 max-h-fit">
  <div class="w-full flex justify-center">
    <img src="<%= photo.image_url.url %>" class="">
  </div>
  <div class="border-2 border-primary p-2 mt-2 w-full">
    <% if photo.location.present? %>
      <p>
        <strong>Location:</strong>
        <%= photo.location %>
      </p>
    <% end %>
    <p class="text-white text-lg mb-8">
      <%= photo.caption %>
    </p>
    <p class="">
      <strong>Posted by:</strong>
      <%= photo.owner.first_name %> <%= photo.owner.last_name %> <%= photo.owner.suffix %>
    </p>
  </div>
</div>
