<div id="<%= dom_id photo %>" class="flex flex-col items-center justify-center max-h-fit">
  <div class="flex justify-start space-x-4 mb-2 ml-4 mt-4 w-full">
    <div class="h-12 w-12 rounded-full overflow-hidden">
      <%= image_tag(photo.owner.user.avatar_url.url, class: "h-full w-full object-cover") %>
    </div>
    <div>
      <p>
        <%= photo.owner.first_name %> <%= photo.owner.last_name %> <%= photo.owner.suffix %>
      </p>
      <% if photo.location.present? %>
        <p class="text-sm">
          <%= photo.location %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="w-full flex justify-center">
    <img src="<%= photo.image_url.url %>" class="">
  </div>
  <div>
    <div class="flex justify-end my-2 mr-4">
      <% if current_user.person.id == @photo.owner_id %>
        <div class="flex space-x-4">
          <%= link_to image_tag("edit.svg", class: "max-h-[20px]"), edit_photo_path(@photo) %>
          <%= button_to @photo, method: :delete do %>
            <%= image_tag("trash-can.svg", class: "max-h-[20px]") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col justify-center p-2 mt-2 w-full">
      <p class="text-lg mb-8">
        <%= photo.caption %>
      </p>
      <%# <hr class="border-1 border-slate-700 my-4"> %>
      <% if photo.comments.present? %>
        <% photo.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
        <%# <hr class="border-1 border-slate-700 my-4"> %>
      <% end %>
      <p class="text-sm my-6"><%= photo.created_at.strftime("%B %d, %Y") %></p>
      <div class="">
        <%= render "comments/form", comment: Comment.new(photo_id: photo.id, author_id: current_user.person.id) %>
      </div>
    </div>
  </div>
