<div id="<%= dom_id photo %>">
  <p>
    <strong>Owner:</strong>
    <%= photo.owner_id %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= photo.image_url %>
  </p>

  <p>
    <strong>Caption:</strong>
    <%= photo.caption %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= photo.location %>
  </p>

</div>
