<div id="<%= dom_id marriage %>">
  <p>
    <strong>Spouse1:</strong>
    <%= marriage.spouse1_id %>
  </p>

  <p>
    <strong>Spouse2:</strong>
    <%= marriage.spouse2_id %>
  </p>

  <p>
    <strong>Marriage date:</strong>
    <%= marriage.marriage_date %>
  </p>

  <p>
    <strong>Divorce date:</strong>
    <%= marriage.divorce_date %>
  </p>

</div>
