<footer class="footer py-10 bg-base-200 text-base-content">
  <div class="stat flex justify-center items-center">
    <div class="stat-value text-primary"><%= User.all.count %></div>
    <div class="stat-title">Family Members Signed Up</div>
  </div>
  <div class="flex w-full justify-around">
    <nav class="flex flex-col space-y-2">
      <header class="footer-title">Links</header>
      <%= link_to "Photos", photos_path %>
      <%= link_to "Birthdays", birthdays_path %>
      <a class="link link-hover">Events</a>
      <a class="link link-hover">Memories</a>
      <%= link_to "Contact Us", contact_path %>
    </nav>
    <nav class="flex flex-col space-y-2">
      <header class="footer-title">Legal</header>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </div>
  <div class="flex flex-col w-full items-center justify-center">
    <h2>Designed by</h2>
    <aside>
      <a href="http://www.nemin.dev" target="_blank"><%= image_tag ("nemdev.png"), class: "max-h-[60px] rounded-full" %></a>
    </aside>
  </div>
</footer>
