<div class="navbar bg-base-200 min-h-[80px]">
  <div class="flex-1 rounded-full">
    <a href="<%= root_path %>" class=""><%= image_tag ("tilde.png"), class: "rounded-full h-[65px] w-[65px] md:max-h-[80px] object-fill p-2" %> </a>
  </div>
  <div class="flex flex-row-reverse md:flex-row items-center">
    <% if user_signed_in? %>
      <div class="menu-trigger md:hidden">
        <button class="btn btn-ghost normal-case text-xl mr-4" onclick="toggleDropdown(this);">
          <%= image_tag("burger-menu.svg", id: "burger-menu", class: "max-h-[40px] fill-white", data: { light: asset_path('burger-menu-black.svg'), dark: asset_path('burger-menu.svg'), close_light: asset_path('close-black.svg'), close_dark: asset_path('close.svg') }) %>
        </button>
      </div>
    <% end %>
    <ul id="dropdown-menu" class="hidden md:flex md:items-center menu menu-horizontal px-1 mr-4">
      <li><%= link_to "Family Tree", tree_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
      <li><%= link_to "Birthdays", birthdays_path %></li>
      <li><%= link_to "Recipes", recipes_path %></li>
      <li><%= link_to "Search", people_path %></li>
      <li><%= image_tag(asset_path("sun.svg"), id: "mode-display", class: "w-16 h-16", onclick: "toggleMode()", data: { light: asset_path('moon.svg'), dark: asset_path('sun.svg') }) %></li>
    </ul>
    <% if user_signed_in? %>
      <p class="hidden md:block pr-4"><%= current_user.email %></p>
      <div class="dropdown dropdown-end pr-4">
        <label tabindex="0" class="btn btn-primary btn-circle avatar">
          <div id="avatar_container" class="w-10 rounded-full">
            <% if current_user.avatar_url.present? %>
              <%= image_tag(current_user.avatar_url.url, id: "avatar_image") %>
            <% else %>
              <div class="w-12 h-12 bg-primary shadow-md border-indigo-500 rounded-full flex items-center justify-center text-xl font-bold">
                <%= current_user.person.first_name.slice(0,1).capitalize %>
              </div>
            <% end %>
          </div>
        </label>
        <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 space-y-2">
          <li>
            <% if current_user.person.present? %>
              <%= link_to "My Profile", person_path(current_user.person.id) %>
            <% end %>
          </li>
          <li><%= link_to "Edit personal info", edit_person_path(current_user.person.id) %></li>
          <li><%= link_to "Edit login info", edit_user_registration_path %></li>
          <li>
            <% if current_user.admin? %>
              <%= link_to "Admin Dashboard", rails_admin_path %>
            <% end %>
          </li>
          <li><%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      </div>
    <% else %>
      <ul class="flex space-x-4">
        <li><%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %></li>
        <li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary mr-2" %></li>
      </ul>
    <% end %>
  </div>
</div>
<script>
  // JS code for the dropdown menu
  var isDropdownOpen = false;

  function toggleDropdown(button) {
    var dropdown = document.getElementById("dropdown-menu");
    var avatarContainer = document.getElementById("avatar_container");
    var image = button.querySelector('img');
    var currentMode = document.body.getAttribute('data-theme');
    if (isDropdownOpen) {
      dropdown.style.display = "none";
      avatarContainer.classList.remove('hidden');
      var newSrc = image.getAttribute('data-' + currentMode); // burger-menu.svg or burger-menu-black.svg
    if (newSrc) {
      image.src = newSrc;
      }
    isDropdownOpen = false;
    }
    else {
      dropdown.style.display = "block";
      avatarContainer.classList.add('hidden');
      var newSrc = image.getAttribute('data-close-' + currentMode); // close.svg or close-black.svg
    if (newSrc) {
      image.src = newSrc;
      }
    isDropdownOpen = true;
    }
  }

  // JS code for light/dark mode toggle
  function toggleMode() {
    var body = document.body;
    var currentMode = body.getAttribute('data-theme');
    var newMode = currentMode === 'light' ? 'dark' : 'light';
    body.setAttribute('data-theme', newMode);
    var modeDisplayImage = document.getElementById('mode-display');
    var newSrc = modeDisplayImage.getAttribute('data-' + newMode);
    if (newSrc) {
      modeDisplayImage.src = newSrc;
    }
      localStorage.setItem('theme', newMode);
  }
</script>
